body{
  background-image: url("image.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

canvas {
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
}
